<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <title>Rising Shield</title>
    <meta name="description" content="SafeSurf is a phishing domain detection tool created by abhizaik. This allows you to safely view the website without visiting it.">
    <meta name="og:title" property="og:title" content="Rising Shield">
    <meta name="keywords" content="SafeSurf, phishing, abhizaik">
    <meta name="author" content="Saurabh Patil">


</head>

<body>

    {% block content %}{% endblock %} {% if '/preview' not in request.path %}
    <div class="app-footer">
      
    </div>
    {% endif %}

</body>

</html>
